<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  {% load static %}
  <title>Home page</title>    
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  

  

</head>
<body>
  <div id="container">
    <div class="notification is-text">
      <h1 class="title is-5" style="text-align: center;">Prediccion Ventas</h1>
      <form action="{% url 'result' %}">
        {% csrf_token %}
        
        <p>Año :</p>
        <input name="anio" class="input" type="text" placeholder="Año" style="width: 50%; height: 30px;"/>
        <br>

        <p>Mes:</p>    
        <input name="mes" class="input" type="text" placeholder="Mes" style="width: 50%; height: 30px;"/>
        <br>

        <p>total_avena:</p>      
        <input name="total_avena" class="input" type="text" placeholder="Año" style="width: 50%; height: 30px;"/>
        <br>
        <br>
        <button class="button is-primary is-rounded" type="submit" value='Get Predictions'>Get Predictions</button>
      </form>
    </div>
  </div>



</body>
</html>





