{% extends "cabecera.html" %}
{% load static %}
{% block main %}

    <!--Secciones-->
  <div class="column_graficos"style="margin-top: 2px;">
    <!-- Primer gráfico -->
    
    <!--INICIO ASIDE-->
    <div style="
      display: block;
      margin-left: 3px;
      padding: 10px 17px 39px 10px;
      box-shadow: 0 0px 2px rgba(0, 0, 0, .6);">

    
      <aside class="menu">
        <p class="menu-label">Administracion</p>
        
        <p class="menu-label">Gestión de Ventas</p>
        
  
        <p class="menu-label">Eficiencia</p>
        <p class="menu-label">VENTAS DE PRODUCTOS EN SOLES</p>
        <ul class="menu-list">       
          <li>
            <a class="is-active">Año</a>
            <ul>
              <li><a href="{% url 'ventas_productos_2019' %}">2019</a></li>
              <li><a href="{% url 'ventas_productos_2020' %}">2020</a></li>
              <li><a href="{% url 'ventas_productos_2021' %}">2021</a></li>
              <li><a href="{% url 'ventas_productos_2022' %}">2022</a></li>
            </ul>
          </li>      
        </ul>
        <p class="menu-label">Productividad</p>
      <p class="menu-label">VENTAS EN Cantidad</p>
      <ul class="menu-list">       
        <li>
          <a class="is-active">Año</a>
          <ul>
            <li><a href="{% url 'ventas_soles_2019' %}">2019</a></li>
            <li><a href="{% url 'ventas_soles_2020' %}">2020</a></li>
            <li><a href="{% url 'ventas_soles_2021' %}">2021</a></li>
            <li><a href="{% url 'ventas_soles_2022' %}">2022</a></li>  
          </ul>
        </li>      
      </ul>




      <p class="menu-label">Transactions</p>
      <ul class="menu-list">
                
        <button class="button is-link is-inverted" id="downloadBtn" >
            Download Graphics
        </button>
        
        <br>
        <li><a class="button is-danger is-outlined">Cerrar sesión</a></li>
    </ul>
      </aside>
    </div>
    <!--FIN ASIDE-->


   <!--Inicio div-->
   <div class="grid-container">
    <!--Grafico 1-->
    <div class="grid-item2">  
      <div class="control has-icons-left" style="margin: 180px 0px 180px 0px;">
        
        
        <div class="contenedor-grafico">
            <canvas id="salesChart" style="margin-top: -144px;display: block;box-sizing: border-box; height: 300px; width: 600px;"></canvas>
        </div>
        </div>
        
    </div>

    <!--Grafico 2-->
   <div class="grid-item2">
    <!--Inicio de Dropdown-->
    <div class="control has-icons-left" style="margin: 180px 0px 180px 0px;">
      <div class="select" style="margin-top: -179px;">
        <select id="yearSelect">
          <option value="" selected>Seleccione</option>
          <option value="2019">Ventas 2019</option>
          <option value="2020">Ventas 2020</option>
          <option value="2021">Ventas 2021</option>
          <option value="2022">Ventas 2022</option>
        </select>
      </div>

     <div class="icon is-small is-left">
       <i class="fas fa-globe"></i>
     </div>

     <div id="dropdownChartContainer" style="display: none;display: block;margin-top: 53px;">
      <canvas id="dropdownChart" style="margin-top: -198px;" ></canvas>
    </div>

   </div>
 </div>

<!-- Div para el gráfico del dropdown -->
        
 <!-- Contenedor para el formulario de predicción -->
<div id="predictionContainer" style="display: none;"></div>

 <div class="grid-item1">
   <button class="button is-rounded" id="openPopupBtn" >
    Abrir Predicción
  </button>
  
  <div id="predictionChartContainer" style="margin-top: 20px; display: block;">
    <canvas id="predictionChart"  style="margin: 0px 300px 7px 184px;
    display: block;
    box-sizing: border-box;
    height: 24pc;
    width: 50pc;" ></canvas>
  </div>
 </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

<script>
    // Datos JSON desde el backend - Gráfico 1: Ventas Mensuales
     // Datos JSON desde el backend - Gráfico 1: Ventas Mensuales
     const salesData = JSON.parse('{{ json_data|safe }}');
     const labels = salesData.map(item => item.MESES);
     const data = salesData.map(item => item.TOTAL_VENTAS_CANTIDAD);
     
     // Calcula el total de ventas
     const totalVentas = data.reduce((sum, value) => sum + value, 0);
     
     // Calcula los porcentajes
     const percentages = data.map(value => ((value / totalVentas) * 100).toFixed(1));
     
     const ctx = document.getElementById('salesChart').getContext('2d');
     new Chart(ctx, {
         type: 'bar',
         data: {
             labels: labels,
             datasets: [{
                 label: 'VENTAS EN Cantidad',
                 data: data,
                 backgroundColor: 'rgb(255, 138, 118)',
                 borderColor: 'rgb(255, 138, 118)',
                 borderWidth: 1
             }]
         },
         options: {
             responsive: true,
             scales: { y: { beginAtZero: true } },
             plugins: {
                 title: {
                     display: true,
                     text: 'Venta en soles del Año 2022',
                     color: 'black' 
                 },
                 tooltip: {
                     callbacks: {
                         label: function(context) {
                             let label = context.dataset.label || '';
                             if (label) {
                                 label += ': ';
                             }
                             if (context.parsed.y !== null) {
                                 label += context.parsed.y + ' (' + percentages[context.dataIndex] + '%)';
                             }
                             return label;
                         }
                     }
                 }
             }
         },
         plugins: [{
             afterDraw: function(chart) {
                 var ctx = chart.ctx;
                 chart.data.datasets.forEach(function (dataset, i) {
                     var meta = chart.getDatasetMeta(i);
                     if (!meta.hidden) {
                         meta.data.forEach(function(element, index) {
                             // Dibuja el porcentaje en cada barra
                             ctx.fillStyle = 'rgb(0, 0, 0)';
                             var fontSize = 12;
                             var fontStyle = 'normal';
                             var fontFamily = 'Arial';
                             ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);
                             var dataString = percentages[index] + '%';
                             ctx.textAlign = 'center';
                             ctx.textBaseline = 'middle';
                             var position = element.tooltipPosition();
                             ctx.fillText(dataString, position.x, position.y - (fontSize / 2) - 5);
                         });
                     }
                 });
             }
         }]
     });
     
     // INICIO - Función de button para descarga de los canvas
    // Función para descargar la imagen del gráfico
    function downloadImage() {
        const canvases = [
            document.getElementById('salesChart'),
            document.getElementById('dropdownChart'),
            document.getElementById('predictionChart')
        ];

        canvases.forEach((canvas, index) => {
            const link = document.createElement('a');
            link.href = canvas.toDataURL('image/png');
            link.download = `chart_${index + 1}.png`;
            link.click();
        });
    }

    // Añadir evento al botón de descarga
    document.getElementById('downloadBtn').addEventListener('click', downloadImage);

    // FIN - Función de button para descarga de los canvas




    // Gráfico 2: Ventas por Año Seleccionado
    let dropdownChart;

document.getElementById('yearSelect').addEventListener('change', function() {
    const selectedYear = this.value;
    if (selectedYear) {
        fetchYearData(selectedYear);
    } else {
        document.getElementById('dropdownChartContainer').style.display = 'none';
    }
});

function fetchYearData(year) {
    fetch(`http://127.0.0.1:8000/result_prod/ventas_soles_2019/presentacion_graficos/${year}/`)
        .then(response => response.json())
        .then(data => createDropdownChart(data, year))
        .catch(error => console.error('Error:', error));
}

function createDropdownChart(data, year) {
    const ctx = document.getElementById('dropdownChart').getContext('2d');
    const chartContainer = document.getElementById('dropdownChartContainer');
    
    if (dropdownChart) {
        dropdownChart.destroy();
    }
    
    const ventas = data.map(item => item.TOTAL_VENTAS_CANTIDAD);
    const totalVentas = ventas.reduce((sum, value) => sum + value, 0);
    const percentages = ventas.map(value => ((value / totalVentas) * 100).toFixed(1));

    dropdownChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: data.map(item => item.MESES),
            datasets: [{
                label: `VENTAS EN Cantidad ${year}`,
                data: ventas,
                backgroundColor: [
  
  'rgb(230, 224, 178)', // Second bar
  // ... colors for other bars
],
        borderColor: [
        
        'rgb(184, 134, 11)', // Second bar border
        // ... border colors for other bars
        ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: { y: { beginAtZero: true } },
            plugins: {
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            let label = context.dataset.label || '';
                            if (label) {
                                label += ': ';
                            }
                            if (context.parsed.y !== null) {
                                label += context.parsed.y + ' (' + percentages[context.dataIndex] + '%)';
                            }
                            return label;
                        }
                    }
                }
            }
        },
        plugins: [{
            afterDraw: function(chart) {
                var ctx = chart.ctx;
                chart.data.datasets.forEach(function (dataset, i) {
                    var meta = chart.getDatasetMeta(i);
                    if (!meta.hidden) {
                        meta.data.forEach(function(element, index) {
                            // Dibuja el porcentaje en cada barra
                            ctx.fillStyle = 'rgb(0, 0, 0)';
                            var fontSize = 12;
                            var fontStyle = 'normal';
                            var fontFamily = 'Arial';
                            ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);
                            var dataString = percentages[index] + '%';
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'middle';
                            var position = element.tooltipPosition();
                            ctx.fillText(dataString, position.x, position.y - (fontSize / 2) - 5);
                        });
                    }
                });
            }
        }]
    });
    
    chartContainer.style.display = 'block';
}

  // Funcionalidad de Predicción 

  document.getElementById('openPopupBtn').addEventListener('click', function() {

    var ocultarboton = document.getElementById("openPopupBtn");

    document.getElementById('predictionContainer').style.display = 'block';
    loadPredictionForm();

        if(ocultarboton){
          ocultarboton.style.display ='none';
        }

       });

//prueba 1
function loadPredictionForm() {
  fetch('{% url 'prediccion_data_prod' %}')
      .then(response => response.text())
      .then(data => {
          document.getElementById('predictionContainer').innerHTML = data;
          setupFormSubmission();
      })
      .catch(error => console.error('Error al cargar el formulario de predicción:', error));
}

function setupFormSubmission() {
  const form = document.querySelector('#predictionContainer form');
  form.addEventListener('submit', function(e) {
      e.preventDefault();
      const formData = new FormData(this);

      fetch('{% url 'result_prod' %}', {
          method: 'POST',
          body: formData
      })
      .then(response => response.json())
      .then(data => {
          updatePredictionChart(data);
          document.getElementById('predictionContainer').style.display = 'none';
      })
      .catch(error => console.error('Error:', error));
  });
}

function updatePredictionChart(data) {
  const ctx = document.getElementById('predictionChart').getContext('2d');
  const chartContainer = document.getElementById('predictionChartContainer');
  
  chartContainer.style.display = 'block';
  
  new Chart(ctx, {
      type: 'line',
      data: {
          labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
          datasets: [{
              label: 'Prediccion de ventas',
              data: data.predictions,
              borderColor: 'rgb(75, 192, 192)',
              tension: 0.1
          }, {
              label: 'Meta de ventas',
              data: data.avena_por_mes,
              borderColor: 'rgb(255, 99, 132)',
              tension: 0.1
          }]
      },
      options: {
          responsive: true,
          scales: {
              y: {
                  beginAtZero: true,
                  title: { display: true, text: 'Cantidad' }
              },
              x: {
                  title: { display: true, text: 'Meses' }
              }
          },
          plugins: {
              title: {
                  display: true,
                  text: 'Grafico de Ventas Anual',
                  color: 'black'
              },
              tooltip: {
                  enabled: true
              },
              datalabels: {
                  anchor: 'end',
                  align: 'top',
                  formatter: function(value) {
                      return Math.round(value);
                  },
                  font: {
                      weight: 'bold'
                  }
              }
          }
      },
      plugins: [ChartDataLabels]
  });
}
  

   function cerrar() {
    var popup = document.getElementById("notificacion-close");
    if (popup) {
      openPopupBtn.style.display = 'inline';
      popup.style.display = 'none';
    } 
  }

  // Inicialización
  var chartContainer = document.getElementById('predictionChartContainer');
  if(chartContainer.style.display === 'block'){
     chartContainer.style.display = 'none';
  }


    </script>
{% endblock %}